body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://cdn.theatlantic.com/thumbor/jdrBi07dEdI5XimRkRJPpnywR6c=/0x0:2000x1125/976x549/media/img/mt/2023/07/books_picku_up_put_down_final/original.jpg'); 
}